# Eclipse files
.project
.settings
.idea

# Temp files
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log

# Vim swap files
*.sw*

# Sublime project and workspace
*.sublime-project
*.sublime-workspace

# Project specific ignore
node_modules/
!.placeholder
package-lock.json
